body {
    background-image: url("1.jpg");
    text-align: center;
    font-family: Arial;
    color: White;
}

.pic {
    margin:0px auto;
    width:280px;
    height:404px;
    display:block;
    padding-bottom:20px;
}
